<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/libs/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/libs/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}">

    <!-- Подключение Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}{% endblock %}
    <title> {% block title %}{% endblock %}</title>
</head>

<body>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <header class="header">{% include 'main/_header.html' %}</header>
    {% include 'main/_flash.html' %}
    
    <div class="page">
        <main class="content">
            <h1>{{ self.title() }}</h1>
            {% block content %}{% endblock %}
        </main>
        <footer class="py-3 my-4">{% include 'main/_footer.html' %}</footer>
    </div>

    <script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>