{% extends 'main/base.html' %}

{%block title%} Главная страница {%endblock%}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/info.css') }}">
{% endblock %}

{%block content%}
<main>
        <h2>
            Добро пожаловать на сайт пчеловодов Нижегородской области!
        </h2>
        <p>
            Наш сайт создан для объединения и поддержки всех, кто занимается пчеловодством в нашем регионе. Независимо от того, являетесь ли вы опытным пчеловодом или только начинаете свой путь в этом удивительном деле, здесь вы найдете много полезной информации, советов и ресурсов.
        </p>
        <h2>
            Пчеловодство в Нижегородской области
        </h2>

        <p>
            Количество пчелиных семей в области недостаточно для надежного опыления сельхозкультур, особенно рапса. Большое разнообразие дикорастущих медоносов создают благоприятные условия для увеличения количества пчелиных семей в области.
        </p>    

        <p>
            Перспективными направлениями в развитии пчеловодства является  получение продуктов пчеловодства – обножка, перга, прополис, воск и т.д. Развитие этого направления требует стабильного рынка сбыта продукции. 
        </p>
        <p>
            Для пасек в экологически чистых территориях перспективным может стать фармакологическое направление развития пчеловодства, а вблизи санаториев и домов отдыха и медицинское его направление (с отпуском процедур пчелоужаления и использования на месте скоропортящихся нативных продуктов пчеловодства).
        </p>

{%endblock%}

