{% extends 'main/base.html' %}

{%block title%} Правила сайта {%endblock%}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/info.css') }}">
{% endblock %}

{%block content%}
    <h2>Правила использования сайта для пчеловодов Нижегородской области</h2>
    <p><b>1. Общие положения</b> <br>1.1. Сайт предназначен для обмена информацией, новостями и ресурсами, связанными с пчеловодством в Нижегородской области. <br>1.2. Использование сайта подразумевает согласие с данными правилами. Пожалуйста, внимательно ознакомьтесь с ними.</p>
    <p><b>2. Регистрация и учетные записи</b><br>2.1. Для доступа к определенным функциям сайта может потребоваться регистрация и создание учетной записи. <br>2.2. Пользователи обязуются предоставлять точную и актуальную информацию при регистрации. 2.3. Пользователь несет ответственность за сохранность своих учетных данных и за все действия, произведенные с их учетной записью.</p>
    <p><b>3. Конфиденциальность и безопасность</b><br>3.1. Сайт принимает меры для обеспечения безопасности и конфиденциальности личных данных пользователей. <br>3.2. Пользователи обязуются не раскрывать свои учетные данные третьим лицам и уведомлять администрацию о любых подозрительных действиях, связанных с их учетной записью.</p>
    <p><b>4. Ответственность</b><br>4.1. Администрация сайта не несет ответственности за содержание пользовательских публикаций и за возможный ущерб, причиненный ими. <br>4.2. Пользователи несут полную ответственность за свои действия на сайте и за соблюдение всех применимых законов и правил.</p>
    <p><b>5. Изменение правил</b> <br>5.1. Администрация сайта имеет право изменять данные правила в любое время. <br>5.2. Изменения будут опубликованы на сайте, и пользователи обязаны регулярно проверять актуальность правил.</p>
{%endblock%}