{% extends 'main/base.html' %}

{%block title%} Авторизация {%endblock%}

{%block content%} 
    <form method="post", class="form-control d-flex flex-column gap-2">
        {{  form.csrf_token }}
        {{  form.login(class='form-control', placeholder = 'Логин') }}
        {{  form.password(class='form-control', placeholder = 'Пароль') }}
        <div class="d-flex flex-row justify-content-center gap-2">
            {{  form.remember.label }} {{ form.remember(class="form-check") }}
        </div>
        {{  form.submit(class="btn btn-success") }}
    </form>
{%endblock%}