{% extends 'main/base.html' %}

{%block title%} Пасеки на нашем сайте {%endblock%}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/table.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/libs/font-awesome.min.css') }}">
{% endblock %}

{%block content%}
<div class="container">
	<table cellpadding="0" cellspacing="0" border="0">
		<thead>
			<tr>
				<th>Фото</th>
				<th>ФИО владельца</th>
				<th>Количество пчёл</th>
				<th>Порода</th>
				<th>Тип улея</th>
				<th>Питание для пчёл</th>
				<th>Расположение</th>
				<th>Действие</th>
			</tr>
		</thead>
		<tbody>
            {% for notes in notes  %}
			<tr>
				<td>
					<img width="96px" height="96px" src="{{ url_for('static', filename='upload/'+notes.owner.avatar) }}" alt="Владелец">
				</td>
				<td>
					{{notes.owner.name}}
				</td>
				<td>{{notes.beeCount}}</td>
				<td>{{notes.breed}}</td>
				<td>{{notes.hiveType}}</td>
				<td>{{notes.feed}}</td>
				<td>
					{{notes.latitude}}
					{{notes.longitude}}
				</td>

				<td>
					{% if current_user.is_authenticated and notes.owner.id == current_user.id %}
						<a href="{{ url_for('apiary.update', id=notes.id) }}" class="btn btn-sm btn-secondary"><span class="fa fa-edit"></span></a>
						<a href="{{ url_for('apiary.delete', id=notes.id) }}"class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></a>
					{% endif %}
				</td>
            </tr>
            {% endfor %}
		</tbody>
	</table>
</div>
{%endblock%} 